/* 

.welcome{
    height: 60vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.container3{
    display: inline-block;
    background-color: rgba(0, 0, 0, .4);
    padding: 4rem ;
    width: 50rem;
    border-radius: 35px;

}
button{
    box-sizing:border-box;
    text-align: center;
    font-weight: 900;
    padding: 0px 1px ;
    margin: 20px;
    width: 170px;
    height: 80px;
    line-height: 20px;
    font-size: 18px;
    border-radius: 20px;

} 
button:hover{
    background-color: springgreen;
    transition-duration: .3s;
}

#next, #cancel{
    font-size: 25px;
    font-weight: bolder;
    color: white;
}

#next{
    background-color: green;
} */
