
.homeBody{
    display:block;
    box-sizing:border-box;
    width: 82vw;
}
.homeNav{
    background-color: rgba(0, 0, 0, .6);
    width: 100vw;
    padding: 5rem ;
    margin-bottom: 5rem;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: greenyellow;
}
#back{
    background-color:lightpink;
}
#cancel{
    background-color: red;
}
.sidePost{
    background-color: indianred;
    float: left;
    margin: 70rem 0 5rem 10rem;
    padding: 5rem;
    border-radius: 30px;
    margin-top: 5rem;
    margin-inline-start: 10rem;
}
.posts{
    padding: 5rem;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, .6);
    display: inline-flex;
    flex-direction: column;
    /* transform: translateX(-50%); */
    margin-right: 0 ;
    border-radius: 30px;
    
}
.postBox{
    display:inline-flex;
    flex-direction: column;
    background-color: green;
    width: 20rem;
    margin: 50px;
    padding: 30px;
    border-radius: 30px;
}
.homeButton{
    width: 100vw;
}