/* Global CSS */
body {
  background-color: #eeeeee;
  /* background-color: #ffffff; */
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
}

h3 {
  margin:0;
}

/*********************************/
/* NavBar */
.nav-wrapper {
 margin: 0rem 3rem 3rem 3rem;
}

.userHeader {
  display: flex;
  justify-content: space-between;
  padding-left:1rem;
  padding-right:1rem;
}

.nav-left {
  align-self: flex-start;
}
.nav-right {
  align-self: flex-end;
}

.nav-item {
  margin: 1rem;
}

.nav-item:hover {
  text-decoration: underline;
}

/* .postsandactivities,
.explore,
.newPost,
.posts {
  color: black;
} */

/*********************************/
/*Log In & Register*/
.login-regis-container{
  background-color: #ffffff;
  width: 80%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  padding: 3rem;
}

.login-regis-btn {
  margin-left: .75rem;
}

/*********************************/
/*Edit Post*/
#cancel-btn {
  color:#F44336;
}

/*********************************/
/*Explore Page/Component*/
.search-container{
  margin:2rem;
}
  /*Search Bar Component*/
  .search {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
  }

  .input-field {
    width: 90%;
    margin: 1rem auto;
  }

  .card:hover{
    transform: scale(1.02);
  }

  .name{
    color: black;
    font-weight: 600;
    text-transform: capitalize;
  }

  .occupation-company {
    text-transform: capitalize;
    color: #616161;
  }

  #at{
    text-transform: none;
  }
  
/*********************************/
/* Posts Page */
  /* NewPost Component */
  .all-posts-container {
    display: flex;
    flex-direction: column;
    margin:2rem;
  }

  #create-post-container {
    width: 80%;
    border: 1px solid #bdbdbd;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0 1rem 0 1rem;
  }

  #post-btn{
    margin: 1rem 0 0 0;
    float: right;
  }

/*********************************/
  /* PostFeed Component */
  .post-container {
    width: 80%;
    border: 1px solid #bdbdbd;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 1rem auto;
    padding: 0.8rem;
  }

  .username{
    color:#26A69a;
    font-size: 1em;
    font-weight: 700;
  }
  .username:hover {
    text-decoration: underline;
  }

  .top-post{
    border-bottom: 1px solid #bdbdbd;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 0;
  }

  .name-time{
    margin-bottom: 0;
  }

  .timestamp{
    color: #616161;
    font-size: 0.8em;
    margin-top: 0;
  }

  .instance-text {
    margin: 1.2rem;
    font-size: 1.1em;
  }

/*********************************/
/* UserProfile page/componenet - userprofile/:user */
.userprof-container {
  margin: 2rem;
}

.profile-container{
  background-color: #ffffff;
  border: 1px solid #bdbdbd;
  width: 80%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  padding: 1rem;
}

.profile-headers{
  font-weight: 600;
  margin: 0.2rem;
}

.profile-details{
  font-weight: 400;
  text-transform: capitalize;
}

#username-text-only {
  text-transform: none;
}

  /* Show Posts (just from logged in User) */
  .edit-delete-container{
    display:flex;
  }

  #delete-btn {
    color: #F44336;;
  }

  #delete-btn:hover{
    text-decoration: underline;
  }

  #edit-btn {
    color:#26A69a;
  }

  #edit-btn:hover{
    text-decoration: underline;
  }


/*********************************/
/* UserPosts.js */

.profileIcons {
  display: flex;
}

.profileIcons span {
  padding-left: 1rem;
}