/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&display=swap'); */
*{
  box-sizing: border-box;
}

body{
  background: linear-gradient(to left, #0f2027, #2c5364);
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
}
.App {
  text-align: center;
  font-family: 'Pacifico', cursive;
  letter-spacing: 2px;

}
