body {
  background-color: #eeeeee;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
}

/* NavBar */
.nav-wrapper {
 margin: 0rem 3rem 3rem 3rem;
}

/*Explore*/
.input-field {
  width: 70%;
  display: flex;
  flex-direction: row;
}

/* Posts and Activity Page */
.all-posts-container {
  display: flex;
  flex-direction: column;
}


#create-post-container {
  width: 70%;
  margin-top: 5rem;
  border: 1px solid #adadad;
  background-color: #ffffff;
  border-radius: 5px;
}

.post-container {
  width: 70%;
  margin-top: 5rem;
  border: 1px solid #adadad;
  background-color: #ffffff;
  border-radius: 5px;
}

.instance-text {
  margin: 2rem;
}

/*Profile*/
#delete-btn {
  color: #F44336;
}


/* _________________________________ */

.userHeader {
  display: flex;
  justify-content: space-around;
  color: black;
}

.postsandactivities,
.explore,
.newPost,
.posts {
  color: black;
}